.centrado {
    text-align: center;
}

.delimit {
    border: 1px;
    background-color: #8ce0d598;
    padding: 15px;
    text-align: center;
}

.menu li {
    color: red;
    list-style: none;
    padding: 5px;
    font: bold 14px;
    display: inline-block;
    text-align: right;
}