html {
    margin: 20px auto;
}

h1 {
    font-size: 30px;
    font-family: sans-serif;
    text-align: left;
}

h2 {
    font-size: 20px;
    font-family: sans-serif;
}

header {
        background: rgba(107, 210, 228, 0.829);
        padding: 15px;
        text-align: left;
}

footer {
    border: 1px;
    background-color: rgba(107, 210, 228, 0.829);
    padding: 15px;
}